/* Definição de fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}
/* Estilo Desktop */
body{
    background-color: #0E1014;
    color: #FFFFFF;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}
h1{
    font-size: 70px;
    font-family: "Unbounded", "Arial";
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins", "Arial";
    font-size:24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}


a{
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    width: 340px;
    height: 66px;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color:#8023E8;
}
section img{
    display: block;
    width: 796px;
    height: 446px;
    margin: 0 auto;
}

/* dimensionamento para tablets */
@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 649px;
        margin-bottom: 40px;
    }
}

/* dimensionamento para mobil */
@media(max-width:375px){
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;
        height: 230px;
    }
}
